*{
    padding: 0px;
    margin: 0px;
}
:root{
    --cor01: white;
    --cor02: black;
    --cor03: red;
    --cor04: darkgray;
    --cor05:orange;
}

section{

}

header{
    /*background-color: var(--cor02);*/
    background-image: linear-gradient( to top, var(--cor03), var(--cor02));
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content:space-evenly;
    
    
    
}
section > img{
    width: 350px;
    height: 200px;
   
}

/* CONF INICIAIS DO MENU*/
.menu-dp{
margin-top: 80px;
}

.menu-dp ul li{
    display: inline-block;
    position: relative;
   
   
}
.menu-dp ul li a{
    color: var(--cor01);
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}
.menu-dp ul li a:hover{ 
    background-color: var(--cor01);
    color: var(--black);
    
    
}

/* SUB MENU*/
.menu-dp ul ul {
display: none;
position: absolute;
background-color: c
}

.menu-dp ul li:hover ul {
    display: block;
   
 }


body{
background-image: linear-gradient( to bottom, var(--cor02), var(--cor03));
background-repeat: no-repeat;
background-attachment: fixed;
}


/*===============================================================================================================*/



/*======================================= SLIDERSHOW ============================================================*/



.slider{
width: 800px;
height: 427px;
border-radius: 10px;
margin-top: 100px;
margin-right: auto;
margin-left: auto;
overflow: hidden;

}

.slides{
    margin: 0px;
    display: flex;
}


.slides input{
    display: none;
}

.slide{
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 427px;
}

.manual-navigation{
    position: absolute;
    bottom: 170px;
    width: 800px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid var(--cor01);
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    
}

.manual-btn:hover{
    background-color: var(--cor01);
}

/* ============================= MOVIMENTO DAS IMAGENS =====================*/
#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -100%;
}

#radio3:checked ~ .first{
    margin-left: -200%;
}

/*===============================================================================================================*/


/*===============================================================================================================*/